GotHoursDesktop/GotHoursDesktop/SampleData/TaskList/TaskList.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.TaskList" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.TaskList" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TaskList" type="tns:TaskList" />
  <xs:complexType name="TaskList">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute name="TaskName" type="xs:string" />
  </xs:complexType>
</xs:schema>